# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/
.idea/workspace.xml

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# Maven
log/
target/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# configuration properties should be ignored to secure confidential data
configuration.properties